---
import PortfolioDetailLayout from ''
import solar from '../../assets/solar.jpg'
import ProjectLayout from '../../layouts/ProjectLayout.astro'
const title= "pvsmartclick"
const headline= "Simulacija troškova i učinkovitosti solarnih elektrana"
const text1="Softverska platforma pruža sveobuhvatno rješenje za sve faze razvoja solarnih elektrana. Uključuje alate za dizajn koji omogućuju precizno planiranje i vizualizaciju, pratnju proizvodnje energije te sustave održavanja. Osim toga, softver pruža mogućnost selekcije opreme koja je ključna za optimalno funkcioniranje solarnih elektrana. . Integrirajući ove ključne aspekte, naša platforma olakšava upravljanje, poboljšava učinkovitost i osigurava dugoročnu pouzdanost solarnih energetskih sustava"
const subheadline="Inavativnost i zelena energija"
const text2="Razvijamo inovativnu aplikaciju koja će riješiti izazove vezane uz projektiranje fotoelektričnih sustava. Naš cilj je pružiti korisnicima alat koji će uzeti u obzir cijene električne energije, vremensku diferencijaciju tarifa te zakonske okvire pojedinih zemalja u regiji. Osim toga, implementirat ćemo umjetnu inteligenciju koja će pretraživati proizvode, davati preporuke i optimizirati odgovore kako bismo generirali dizajn u pitanju minuta, umjesto tjednima."
      
const text3="Ova aplikacija će riješiti neizvjesnost investitora prilikom ulaganja u obnovljive izvore energije, optimizirati male elektrane prema potrošnji i lokalnom distributeru energije te pružiti točnu dokumentaciju s minimalnim unosima korisnika. Također, potičemo postojeće potrošače električne energije da investiraju u fotonaponske elektrane za vlastite potrebe, koristeći umjetnu inteligenciju za pomoć pri odabiru opreme prema dostupnosti, cjenovnom rasponu i lokaciji. Kroz praćenje proizvodnje i potrošnje, aplikacija će pružati analize i uvide potrebne za efikasno korištenje obnovljivih izvora energije."

const category="Enrgetics, App"
const link= 'https://pvsmartclick.com/home'
---
<ProjectLayout>
    <div class="p-8 space-y-5 max-w-7xl mx-auto">
  <div>
    <img src={solar.src} alt="pannel" class="rounded-lg w-full max-h-1/3"/>
  </div>
<h1 class=" text-2xl font-bold">{headline}</h1>
<p>{text1}</p>
<h1 class=" text-2xl font-bold">{subheadline}</h2>
  <p>{text2}</p>
  <p>{text3}</p>
  <div class="flex gap-10 flex-col justify-center md:flex-row items-center md:justify-between">
    <div>
    <h3 class="font-bold text-2xl">Caterogy:</h3><span class="">{category}</span>
    </div>
    <div>
    <h3 class="font-bold text-2xl">Works Preview</h3>
    <a   href={link}> <button class="bg-green-500 text-white font-bold text-lg px-6 py-2 md:text-xl md:px-8 md:py-3 rounded-md">Live project
     
    </button></a>
  </div>
  </div>
<div>

  </main>
 
</body>
  </ProjectLayout>