---
import { languages } from '../i18n/ui';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
import logo from '../assets/digitalarena.png'
import { Image } from 'astro:assets';
import LanguagePicker from './LanguagePicker.astro';
import Navbar from './Navbar.jsx'
---
<Navbar homeText={t('nav.home')} homeLink={`/${lang}/`} services={t('nav.services')} servicesLink={`/${lang}/services`} 
about={t('nav.about')} aboutLink={`/${lang}/about`} portfolio={t('nav.portfolio')} portfolioLink={`/${lang}/portfolio`} 
languages={Object.entries(languages).map(([code, label]) => ({ code, label }))}
client:load/>
<!-- <ul>
  {Object.entries(languages).map(([lang, label]) => (
    <li>
      <a href={`/${lang}/`}>{label}</a>
    </li>
  ))}
</ul> -->

               
